<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My contacts</title>
    <link rel="shortcut icon" href="./assets/images/s-l300.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./css/styleTwo.css">
</head>
<body>
    <nav>
        <ul>
            <li>

                <a href="./my Template.html"><strong>Home</strong></a>
            </li>
        </ul>
    </nav>
    <header>
        <h1 style="padding: 10px;">My Contacts</h1>

    </header>

    <div class="contacts">
        <table class="ctn">
            <tr>
                <td >
                  <p style="background: white;"><strong style="font-size: 25px;"> email:</strong> niki_nik_74@abv</p> 
                </td>
            </tr>
            <tr>
                <td >
                  <p style="background: white;"><strong style="font-size: 25px;">mobile:</strong>  +359 878948454</p>  
                </td>
            </tr>
        </table>
    </div>
</body>
</html>