<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Courses</title>
    <link rel="shortcut icon" href="./assets/images/s-l300.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./css/styleTwo.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="./my Template.html"> <strong>Home</strong></a></li>
            
        </ul>
    </nav>
    <header>
        <h1 style="padding: 10px;">Courses Page</h1>
    </header>
    <div class="cours">
        <a href="https://softuni.bg/trainings/3217/js-advanced-january-2021/internal#lesson-21837">JS Advanced</a>
    </div>
</body>
</html>
