<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikolai Nikolaev Portfolio</title>
    
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>
    <header class="header">
        <img class="profile-image img-fluid float-left rounded-circle" src="./assets/images/20200508_142359.jpg" style="width: 150px; height: 170px; border-radius: 50%;" alt="profile image">
        <a class="btn btn-cta-primary float-right" style="float:right" href="https://www.linkedin.com/in/nikolay-nikolaev-4555631a7/" style="padding: 10px;" target="_blank"><i class="fas fa-paper-plane"></i> Contact Me</a>
        
        <div class="container-clearfix">
               
            <h1 class="name">Nikolai Nikolaev</h1>
            <h2 class="desc">JS Developer</h2>
            
        </div>
    </header>

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>
                                <h3>I'm a software engineering student. Studying JavaScript language and HTML, CSS technology.</h3>
                                <h3 style="text-align:justify; line-height: 40px">I'm engineer and I have been working in the field of tourism for more than 10 years.
                                    I'm a creative personality. I wish to develop in the field of IT technology because it is connected with 
                                    constant development. There are many innovative and exciting technologies in it 
                                    that provide opportunities for the improvement of existing processes. In my work, 
                                    I have to constantly use various software products that have always been of great 
                                    interest to me. I often have to do monthly and annual analyzes of the department's 
                                    results. I am sure that acquiring in-depth knowledge in programming will be of 
                                    great help in solving many of these tasks. The need for innovative software to 
                                    improve the operation of pool systems, booking procedures, processing a large 
                                    employee database, handling revenue and costs, reporting and analyzing employment,
                                     and others motivate me to study programming. I think programming skills would 
                                     make it easier for me to prepare reports and analyzes. It would also be useful 
                                     to be able to do some personal programs to improve the workings.
                                    Extensive experience in customer service.
                                    Many years of experience in people management and team building.
                                    Creating partnerships.</h3>
                                    <h3>I like to travel in my spare time.</h3>
                            </p>
                          
                        </div>
                    </div>
                </section>

                <section class="education">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="items">
                                <div>
                                    <table>
                                        <tr>
                                            <td><img src="./assets/images/1519900227075.png" alt="University of Ruse"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td> <img src="./assets/images/1519952435193.png" alt="SoftUni Logo"></td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://www.uni-ruse.bg/en">University of Ruse</a></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><a href="https://softuni.bg/users/profile/show/nikolainikolaev">SoftUni</a></td>
                                        </tr>
                                    </table>
                                   
                                </div>
                                <br/>
                                
                            </div>
                        </div>
                        
                    </div>
                </section>

                <section class="licenses section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Licenses & certifications</h2>
                        <div class="content">
                            <div class="items">
                                <div>
                                    <table>
                                        <tr>
                                            <td><img src="./assets/images/Programming Basics with JavaScript - April 2020 - Honorable mention.jpeg" style="width: 50px; height: 70px" alt="Programming Basics"></td>
                                            <td></td><td></td><td></td><td></td>
                                            <td><img src="./assets/images/Programming Fundamentals - September 2020 - Certificate.jpeg" style="width: 50px; height: 70px" alt="Programming Fundamentals"></td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://softuni.bg/certificates/details/82315/e3559d79">Js Basics</a></td>
                                            <td></td><td></td><td></td><td></td>
                                            <td><a href="https://softuni.bg/certificates/details/94652/144de3cc">Js Fundamentals</a></td>
                                        </tr>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="projects section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Other Projects</h2>
                        <div class="content">
                            <div class="items">
                                <div>
                                    <img src="./assets/images/github.png" alt="GitHub Logo">
                                </div>
                                <br/>
                                <a href="https://github.com/nikindtmas1/My-HTML-Projects">GitHub</a>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="interests section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Interests</h2>
                        <div class="content">
                            <div class="items">
                                <div>
                                    <table>
                                        <tr>
                                            <td>
                                                <img src="./assets/images/html5-css-javascript-logos.png" style="height: 150px; width: 300px;" alt="js html css logo">
                                            </td>
                                            <td></td><td></td><td></td><td></td>
                                            <td><img src="./assets/images/Microsoft-logo.jpg" style="height: 260px; width: 230px;" alt="microsoft logo"></td>
                                        </tr>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container text-center">
          <div>
              <h2 class="heading">Follow me</h2>
              <div>
                  <table>
                      <tr>
                          <td><img src="./assets/images/twitter_logo_small.png" alt="Twitter Logo"></td>
                         <td></td> 
                         <td></td>
                          <td><img src="./assets/images/logo-linkedin-small.png" alt="Linkedin Logo"></td>
                      </tr>
                      <tr>
                          <td><a href="https://twitter.com/Nikolai89890811">Twitter</a></td>
                          <td></td>
                          <td></td>
                          <td><a href="https://www.linkedin.com/in/nikolay-nikolaev-4555631a7/">Linkedin</a></td>
                      </tr>
                  </table>
                </div>
          </div>
        </div>
    </footer>
</body>
</html>