<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nikolai Nikolaev Portfolio</title>
    
    <link rel="stylesheet" href="./assets/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="container clearfix">
            <table>
                <tr>
                    <td><img class="profile-image img-fluid float-left rounded-circle" src="./assets/images/20200804_192058.png" style="width: 150px; height: 170px" alt="profile image"></td>
                    <td></td><td></td><td></td><td></td>
                    <td><div class="profile-content float-left">
                        <h1 class="name">Nikolai Nikolaev</h1>
                        <h2 class="desc">JS Developer</h2>
                        
                    </div>
                    </td>
                    <td></td><td></td><td></td><td></td>
                    <td><a class="btn btn-cta-primary float-right" href="https://www.linkedin.com/in/nikolay-nikolaev-4555631a7/" target="_blank"><i class="fas fa-paper-plane"></i> Contact Me</a></td>
                </tr>
            </table>
        </div>
    </header>

    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-lg-8 col-12">
                <section class="about section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>I'm a software engineering student. Studying JavaScript language</p>
                            <p>I like to travel in my spare time</p>
                            <p>Extensive experience in customer service.
                                Many years of experience in people management and team building.
                                Creating partners.</p>
                        </div>
                    </div>
                </section>

                <section class="education">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <div class="items">
                                <div>
                                    <table>
                                        <tr>
                                            <td><img src="./assets/images/1519900227075.png" alt="University of Ruse"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td> <img src="./assets/images/1519952435193.png" alt="SoftUni Logo"></td>
                                        </tr>
                                        <tr>
                                            <td><a href="https://www.uni-ruse.bg/en">University of Ruse</a></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td><a href="https://softuni.bg/users/profile/show/nikolainikolaev">SoftUni</a></td>
                                        </tr>
                                    </table>
                                   
                                </div>
                                <br/>
                                
                            </div>
                        </div>
                        
                    </div>
                </section>

                <section class="licenses section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Licenses & certifications</h2>
                        <div class="content">
                            <div class="items">
                                <div>
                                    <table>
                                        <tr>
                                            <td><img src="./assets/images/Programming Basics with JavaScript - April 2020 - Honorable mention.jpeg" style="width: 50px; height: 70px" alt="Programming Basics"></td>
                                            <td><img src="./assets/images/Programming Fundamentals - September 2020 - Certificate.jpeg" style="width: 50px; height: 70px" alt="Programming Fundamentals"></td>
                                        </tr>
                                    </table>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="projects section">
                    <div class="section-inner shadow-sm rounded">
                        <h2 class="heading">Other Projects</h2>
                        <div class="content">
                            <div class="items">
                                <div>
                                    <img src="./assets/images/github.png" alt="GitHub Logo">
                                </div>
                                <br/>
                                <a href="https://github.com/nikindtmas1/My-HTML-Projects">GitHub</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container text-center">
          <div>
              <h2 class="heading">Follow me</h2>
              <div>
                  <table>
                      <tr>
                          <td><img src="./assets/images/twitter_logo_small.png" alt="Twitter Logo"></td>
                         <td></td> 
                         <td></td>
                          <td><img src="./assets/images/logo-linkedin-small.png" alt="Linkedin Logo"></td>
                      </tr>
                      <tr>
                          <td><a href="https://twitter.com/Nikolai89890811">Twitter</a></td>
                          <td></td>
                          <td></td>
                          <td><a href="https://www.linkedin.com/in/nikolay-nikolaev-4555631a7/">Linkedin</a></td>
                      </tr>
                  </table>
                </div>
          </div>
        </div>
    </footer>
</body>
</html>