<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletters</title>
    <link rel="shortcut icon" href="./assets/images/s-l300.jpg" type="image/x-icon">
    <link rel="stylesheet" href="./css/styleTwo.css">
</head>
<body>
    <nav>
        <ul>
            <li>

                <a href="./my Template.html"> <strong>Home</strong></a>
            </li>
        </ul>
    </nav>

    <div>
        <h1 style="padding: 10px;">Newsletters</h1>
    </div>
</body>
</html>