
body {
    margin: 0px;
    font-family: sans-serif;
    background:gainsboro;
}

/*-------NAVBAR-------*/

nav {
    background: #234465;
    padding: 15px;
}

nav li {
    padding:0 20px;
    display: inline-block;
}

nav li a {
    color: white;
    text-decoration: none; 
}

nav li a:hover {
background: rgb(245, 161, 82);
color: black;
padding: 8%;
border-radius: 8px;
}

/*----------- HEADER -----------*/

.header {
    padding: 30px 0;
    background: #fff;
    border-top: 10px solid #778492;
    border-bottom: 10px solid #778492;
  }

.header .container .profile-image {
  width: 150px; 
  height: 170px; 
  border-radius: 50%;
  margin-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container .profile-content {
    display: inline-block;
    margin-left: 50px;
    padding: 10px;
    color: #49515a;
    font-family: "Lato", arial, sans-serif;
}

.header .container .profile-content .name {
    padding-bottom: 0px;
}



.header .container .profile-content .social a {
    text-align:left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-top: 6px;
    font-size: 25px;
    background: #7b7d80;
    color: rgb(248, 247, 244);
    border-radius: 50px;
}

.header .container .profile-content .social a:hover {
    background: #234465;
}

.btn-cta-primary {
    float: right;
    margin-right: 30px;
    background: #7b7d80;
    text-decoration: none;
    padding: 8px;
    color: white;
    border-radius: 20px;
    font-size: 17px;
}

.btn-cta-primary:hover {
    background: #234465;
}

/*------SECTIONS--------*/

.sections-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.section {
    margin-bottom: 30px;
  }

  .section .section-inner {
    background: #fff;
    padding: 30px;
  }

.section .heading {
    text-decoration-line: underline;
    margin: 20px;
    color: #49515a;
    font-family: sans-serif;
}

.section .content {
    margin: 10px;
    text-align:justify; 
    line-height: 35px; 
    letter-spacing: 1px; 
    word-spacing: 5px; 
    text-indent: 40px;
}

.education .section-inner {
    background: #fff;
    padding: 30px;
  }

  .education .heading {
    margin-top: 0;
    margin-bottom: 30px;
    color: #545e69;
    font-size: 24px;
  }

  .education .items a {
    background:silver; 
    border-radius: 5px; 
    margin-top: 10px;
    padding: 8px;
    text-decoration: none;
  }

  .education .items a:hover {
      background: #234465;
      color: #fff;
  }

    .licenses .section-inner {
    background: #fff;
    padding: 30px;
  }

  .licenses .heading {
    margin-top: 0;
    margin-bottom: 30px;
    color: #545e69;
    font-size: 24px;
  }

.licenses .items a {
  background:silver; 
    border-radius: 5px; 
    margin-top: 10px;
    padding: 8px;
    text-decoration: none;
}

.licenses .items a:hover {
  background: #234465;
  color: #fff;
}

  .project .section-inner {
    background: #fff;
    padding: 30px;
  }

  .project .heading {
    margin-top: 0;
    margin-bottom: 30px;
    color: #545e69;
    font-size: 24px;
  }

.projects .items a {
  background:silver; 
    border-radius: 5px; 
    margin-top: 10px;
    padding: 8px;
    text-decoration: none;
}

.projects .items a:hover {
  background: #234465;
  color: #fff;
}

  .interests .section-inner {
    background: #fff;
    padding: 30px;
  }

  .interests .heading {
    margin-top: 0;
    color: #545e69;
    margin-bottom: 30px;
    font-size: 24px;
  }



  /*-----Footer----*/

  .footer {
    padding: 30px;
    background: #f5f5f5;
    border-top: 10px solid #778492; 
  }

  .footer .heading {
    margin-top: 0;
    margin-bottom: 30px;
    color: #545e69;
    font-size: 24px;
  }

  .footer .headA a {
    text-decoration: none;
    background: coral;
    border-radius: 5px; 
    margin-top: 10px;
    padding: 8px;
  }

  .footer a{
    text-decoration: none;
    background:silver; 
    border-radius: 5px; 
    margin-top: 10px;
    padding: 3px;
  }

  .footer a:hover {
    background: #234465;
    color: #fff;
  }

  /*-----html contacts------*/

   .section-inner .ctn {
    background: white;
    margin-left: 15px;
    padding: 10px;
  }

  .cours a {
    text-decoration: none;
    background: silver;
    padding: 5px;
    border-radius: 4px;
    margin: 30px;
  }

  .cours a:hover {
    background: #234465;
    color: #fff;
  }
